@charset "UTF-8";

/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root {
  --fundo-principal: #baebc8;
  --texto: #222222;
  --texto-inverso:#9c8383;
  --destaque: #5184be;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
    background-color: var(--fundo-principal);
}

header {
    background-color: var(--destaque);
    padding: 25px;
    text-align: center;
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

h1 {
    background-color: var(--texto-inverso);
    padding: 20px;
    border-radius: 15px;
}

main {
    background-color: var(--destaque);
    font-size: 2em;
    padding: 30px;
    border-radius: 20px;
}

input[type="number"] {
  width: 200px;           /* Largura do box */
  height: 50px;           /* Altura do box */
  padding: 10px 20px;     /* Espaçamento interno */
  font-size: 30px;        /* Tamanho do texto */
  box-sizing: border-box; /* Garante que padding e bordas não alterem a largura total definida */
  border-radius: 8px;     /* Bordas arredondadas */
}

input[type="button"] {
  width: 100px;           /* Largura do box */
  height: 50px;           /* Altura do box */
  padding: 10px 20px;     /* Espaçamento interno */
  font-size: 16px;        /* Tamanho do texto */
  box-sizing: border-box; /* Garante que padding e bordas não alterem a largura total definida */
  border-radius: 8px;     /* Bordas arredondadas */
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
}

section {
    background-color: var(--fundo-card);
    font-size: 2em;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
}

section.resposta {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}


